<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../layout/head'); %>

  <body class="container">
    <%- include('../layout/header'); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          ratione, sit distinctio consectetur quidem quam, ipsam reiciendis
          harum officiis placeat, vel odio nostrum saepe quia aliquam dolorem a
          unde dolores.
        </p>
      </div>
    </main>

    <%- include('../layout/footer'); %>
  </body>
</html>
